# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules

# testing
/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
/server/.yarn-cache

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.yarn-cache

telepresence.log