.horizontal-selector {
  background-color: #00d1b2;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  flex-grow: 1;
  padding: 6px;
  line-height: 36px;
  /*
  border-radius: 2px;
  padding: 0.1rem;
*/
}

.horizontal-selector button.button.is-link {
  text-decoration: none;
  color: #fff;
}

.horizontal-selector button.button.is-link:active,
.horizontal-selector button.button.is-link:focus {
  background-color: #00d1b2;
}
.horizontal-selector button.button.is-link:hover {
  background-color: #00b89c;
  color: #fff;
}
